.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #333;
    color: #fff;
    z-index: 1050;
}

.fixed-header {
    top: 0;
    padding: 10px 0;
}

.fixed-footer {
    bottom: 0;
    padding: 10px 0;
}

body {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.list-unstyled li {
    padding: 10px;
}

.list-unstyled li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.language-selector {
    cursor: pointer;
}

.selected-flag {
    width: 30px;
    height: auto;
}

.overlay-content a img {
    width: 240px; 
    height: auto;
}

@media (max-width: 768px) {
    .list-unstyled {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }
}

.language-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    text-align: center;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px; 
    color: #818181;
    display: inline-block;
    transition: 0.3s;
    margin: 20px 10px;
}